@model IEnumerable<Journalist.Models.Entry>

@{
    ViewData["Title"] = "Заявки";
}

<header></header>

<section class="applications">
    <div class="wrapper">
        <div class="applications__wrapper">
            <div class="applications__header">
                <select name="Type" class="applications__combobox">
                    <option value="Видеозаявки">Видеозаявки</option>
                    <option value="Текстзаявки">Текстовые заявки</option>
                </select>
                <h1 class="applications__title">Хакатон</h1>
                <div class="applications__buttons buttons">
                    <input type="button" class="buttons__applications content__button" value="Заявки">
                    <input type="button" class="buttons__rate content__button" value="Рейтинги">
                </div>
            </div>

            <div class="applications__line"></div>
    
            <div class="applications__content">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h1>Заявки</h1>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Authors)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Post)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.WorkPlace)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ThemeOfWork )
                                    </th>
                                    <th>
                                        <a asp-action="AddOrEdit" class="btn btn-sm btn-success">
                                            <i class="fa-solid fa-plus"></i> New
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Authors)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Post)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WorkPlace)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ThemeOfWork)
                                        </td>
                                        <td>
                                            <form asp-action="Delete" asp-route-id="@item.Id">
                                                <div class="btn-group btn-group-sm">
                                                    <a asp-action="AddOrEdit" asp-route-id="@item.Id" class="btn btn-warning">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                    </a>
                                                    <button type="submit" class="btn btn-danger"
                                                        onclick="return confirm('Are you sure to delete this record?')">
                                                        <i class="far fa-trash-alt"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
                
            <div class="applications__aplications-update">

            </div>
            </div>
        </div>
    </div>
</section>